/* Large desktops and laptops */
@media (min-width: 1200px) {
	body {
		padding-left: 250px;
	}
	.sm-d {
		display: none;
	}

	.box-center {
		.container {
    		max-width: 915px;
		}
		.rating-sites {
			.place-block {
				.sm-d {
					display: none;
				}
			}
		}
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {


}

/* Landscape phones and smaller */
@media (min-width: 320px) and (max-width: 480px) {
	.box_sidebar--left {
		position: fixed;
		width: 100% !important;
		height: auto !important;
		.side-wrap {
			padding: 10px 15px! important;
			.logo-block {

				.a-logo {
					display: flex;
				}
			}
			.wrap-ul {
				display: none;
			}
			.share {

				display: none !important;
				.social {
					display: none;
				}

				.copyright {
					display: none;
				}
			}
		}
	}

	.box-center {
		margin-top: 100px;
		padding: 0 !important;
		.header {
			.title-block {
				margin-top: 0;
				.title-top {
					font-size: 30px;
				}
			}

			.wrap-p {
				padding: 0;
				margin-top: 10px;
				.description {
					font-size: 13px;
				}
			}
		}
	}

	.rating-sites {

		.green-text {
			display: none;
		}

		.sm-d {
			display: block;
			font-size: 13px !important;
		}

		.place-block {
			padding: 10px;
			.left-side {

				.screen-site {
					display: none;
				}
				.left-side-up {
					padding-left: 0 !important;
				}
			}
			.name-site {
				display: none !important;
			}
			.description {
				font-size: 13px !important;
			}
			.sm-d {
				display: block !important;
				font-size: 13px !important;
			}

			.list-users {
				justify-content: space-between !important;
				li {
					display: none;
					width: 71px !important;

					&:first-child,
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4), {

						display: flex;
						justify-content: center !important;
					}
				}
			}

			// .stars {
			// 	display: none !important;
			// }
			// .sm-d {
			// 	display: flex !important;
			// }

			// .place-btn {
			// 	.btn-white {
			// 		display: none;
			// 	}
			// }
		}
	}
}