.box_sidebar--left {
	position: fixed;
	top: 0;
	left: 0;
	width: 15.2%;
	height: 100%;
	background: #313235;
	text-align: center;
	.side-wrap {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 20px 30px;
		padding-top: 35px;
		.logo-block {
			height: 50%;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    align-items: flex-start;
		    width: 100%;
		}

		.wrap-ul {
			width: 100%;
		}

		.side-menu-list {
			list-style: none;
			text-align: left;
			padding: 0;
			margin: 0;
			 li {
			 	padding: 20px 0px;
			 	text-transform: uppercase;
			 	&:nth-child(2) {
			 		border-top: 1px solid #47484b;
			 		border-bottom: 1px solid #47484b;
			 	}
			 	a {
			 		display: flex;
			 		align-items: center;
			 		font-size: 14px;
			 		color:#fff;
		 		 	-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			 		&:hover {
			 			text-decoration: none;
			 			color: #b84090;
		 			 	-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			 			.svg-top {
			 				background: url("../images/top-color.svg") no-repeat;
			 				transition: all 0.3s ease;
			 			}

			 			.svg-list {
			 				background: url("../images/list-color.svg")  no-repeat;
			 				transition: all 0.3s ease;
			 			}

			 			.svg-faq {
			 				background: url("../images/faq-color.svg") no-repeat;
			 				transition: all 0.3s ease;
			 			}
			 		}

			 		span {
			 			margin-right: 20px;
			 		}
			 	}
			 }
		}

		.share {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			span {
				font-size: 14px;
				color: #979393;
				line-height: 1.6;
				font-weight: 400;
			}
			.social {
				display: flex;
				justify-content: flex-start;
				padding : 25px 0;
				a {
					padding-right: 10px;

					&:hover {
						span {
							background-color: #fff;
							transition: all 0.3s ease;
							.svg-vk {
								background: url("../images/vk-color.svg") no-repeat;
								transition: all 0.3s ease;
							}
							.svg-ok {
								background: url("../images/ok-color.svg")  no-repeat;
								transition: all 0.3s ease;
							}
							.svg-fb {
								background: url("../images/fb-color.svg")  no-repeat;
								transition: all 0.3s ease;
							}
							.svg-inst {
								background: url("../images/inst-color.svg")  no-repeat;
								transition: all 0.3s ease;
							}
						}
					}
					span {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 34px;
						height: 34px;
						transition: all 0.3s ease;
						border-radius: 4px;
						i {
							z-index: 3;
						}
					}
				}
			}
			.copyright {
				display: flex;
				flex-direction: column;
				span {
					font-size: 11px;
				}
			}

		}
	}
}

.box-side--right {
	position: fixed;
	top: 0;
	right: 0;
	width: 31.2%;
	height: 100%;
	.side-wrap {
		height: 100%;
		.wrap-image {
			height: 100%;
		    background: url("../images/side-right.jpg") no-repeat;
	        background-position: 100% 0%;
    		/* background-size: cover; */
		}
	}
}
.box-center {
    left: 15.2%;
    position: absolute;
	width: 53.6%;
	padding: 0 45px;
}