.box_sidebar--left {
	position: fixed;
	top: 0;
	left: 0;
	width: 15.2%;
	height: 100%;
	background: #313235;
	text-align: center;
	.side-wrap {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 20px 30px;
		padding-top: 35px;
		.logo-block {
			height: 50%;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    align-items: flex-start;
		    width: 100%;
		    .a-logo {
		    	width: 170px;
		    	height: 45px;
		    }
		}

		.wrap-ul {
			width: 100%;
		}

		.side-menu-list {
			list-style: none;
			text-align: left;
			padding: 0;
			margin: 0;
			 li {
			 	padding: 20px 0px;
			 	text-transform: uppercase;
			 	&:nth-child(2) {
			 		border-top: 1px solid #47484b;
			 		border-bottom: 1px solid #47484b;
			 	}
			 	a {
			 		position: relative;
			 		display: flex;
			 		align-items: center;
			 		font-size: 14px;
			 		color:#fff;
		 		 	-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
					i {
						width: 40px;
						height: 40px;
    					margin-right: 40px;
					}
			 		&:hover {
			 			text-decoration: none;
			 			color: #b84090;
		 			 	-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			 			.svg-top {
			 				transition: all 0.3s ease;

			 				&::before {
							    opacity: 0;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
							    opacity: 1;
								transition: all 0.3s ease;
			 				}
			 			}

			 			.svg-list {
			 				transition: all 0.3s ease;
			 				&::before {
							    opacity: 0;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
							    opacity: 1;
								transition: all 0.3s ease;
			 				}
			 			}

			 			.svg-faq {
			 				transition: all 0.3s ease;
			 				&::before {
							    opacity: 0;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
							    opacity: 1;
								transition: all 0.3s ease;
			 				}
			 			}
			 		}
			 		.svg-top {
			 				transition: all 0.3s ease;

			 				&::before {
			 					content:'';
			 					position: absolute;
		 					    left: 0;
							    top: 0;
							    right: 0;
							    bottom: 0;
							    opacity: 1;
							    background: url('../images/top.svg') 50% 50%  no-repeat;
							    width: 25px;
								height: 25px;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
			 					content:'';
			 					position: absolute;
		 					    left: 0;
							    top: 0;
							    right: 0;
							    bottom: 0;
							    opacity: 0;
							    background: url("../images/top-color.svg") 50% 50%  no-repeat;
							    width: 25px;
								height: 25px;
							    transition: all 0.3s ease;
			 				}
			 			}
			 			.svg-faq {
			 				transition: all 0.3s ease;

			 				&::before {
			 					content:'';
			 					position: absolute;
		 					    left: 0;
							    top: 0;
							    right: 0;
							    bottom: 0;
							    opacity: 1;
							    background: url('../images/faq.svg') 50% 50% no-repeat;
						    	width: 20px;
								height: 20px;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
			 					content:'';
			 					position: absolute;
		 					    left: 0;
							    top: 0;
							    right: 0;
							    bottom: 0;
							    opacity: 0;
							    background: url("../images/faq-color.svg") 50% 50% no-repeat;
						    	width: 20px;
								height: 20px;
							    transition: all 0.3s ease;
			 				}
			 			}
			 			.svg-list {
			 				transition: all 0.3s ease;

			 				&::before {
			 					content:'';
			 					position: absolute;
		 					    left: 0;
							    top: 0;
							    right: 0;
							    bottom: 0;
							    opacity: 1;
							    background: url('../images/list.svg') 50% 50%  no-repeat;
							    width: 18px;
								height: 23px;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
			 					content:'';
			 					position: absolute;
		 					    left: 0;
							    top: 0;
							    right: 0;
							    bottom: 0;
							    opacity: 0;
							    background: url("../images/list-color.svg") 50% 50% no-repeat;
							    width: 18px;
								height: 23px;
							    transition: all 0.3s ease;
			 				}
			 			}
			 	}
			}
		}

		.share {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			span {
				font-size: 14px;
				color: #979393;
				line-height: 1.6;
				font-weight: 400;
			}
			.social {
				display: flex;
				justify-content: flex-start;
				padding : 10px 0;
				a {
					position: relative;
					padding-right: 10px;

					&:hover {
						span {
							background-color: #fff;
							transition: all 0.3s ease;
							.svg-vk {
								transition: all 0.3s ease;
								&::before {
								    opacity: 0;
								    transition: all 0.3s ease;
			 					}

				 				&::after {
								    opacity: 1;
									transition: all 0.3s ease;
				 				}
							}
							.svg-ok {
								transition: all 0.3s ease;
								&::before {
								    opacity: 0;
								    transition: all 0.3s ease;
			 					}

				 				&::after {
								    opacity: 1;
									transition: all 0.3s ease;
				 				}
							}
							.svg-fb {
								transition: all 0.3s ease;
								&::before {
								    opacity: 0;
								    transition: all 0.3s ease;
			 					}

				 				&::after {
								    opacity: 1;
									transition: all 0.3s ease;
				 				}
							}
							.svg-inst {
								transition: all 0.3s ease;
								&::before {
								    opacity: 0;
								    transition: all 0.3s ease;
			 					}

				 				&::after {
								    opacity: 1;
									transition: all 0.3s ease;
				 				}
							}
						}
					}
					.svg-vk {
			 				transition: all 0.3s ease;

			 				&::before {
			 					content:'';
			 					position: absolute;
							    opacity: 1;
							    background: url('../images/vk.svg') 50% 50%  no-repeat;
							    width: 20px;
								height: 11px;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
			 					content:'';
			 					position: absolute;
							    opacity: 0;
							    background: url("../images/vk-color.svg") 50% 50% no-repeat;
							    width: 20px;
								height: 11px;
							    transition: all 0.3s ease;
			 				}
			 			}
			 			.svg-ok {
			 				transition: all 0.3s ease;

			 				&::before {
			 					content:'';
			 					position: absolute;
							    opacity: 1;
							    background: url('../images/ok.svg') 50% 50%  no-repeat;
							    width: 13.031px;
								height: 18.031px;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
			 					content:'';
			 					position: absolute;
							    opacity: 0;
							    background: url("../images/ok-color.svg") 50% 50% no-repeat;
							    width: 13.031px;
								height: 18.031px;
							    transition: all 0.3s ease;
			 				}
			 			}
			 			.svg-fb {
			 				transition: all 0.3s ease;

			 				&::before {
			 					content:'';
			 					position: absolute;
							    opacity: 1;
							    background: url('../images/fb.svg') 50% 50%  no-repeat;
							    width: 8px;
								height: 16px;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
			 					content:'';
			 					position: absolute;
							    opacity: 0;
							    background: url("../images/fb-color.svg") 50% 50% no-repeat;
							    width: 8px;
								height: 16px;
							    transition: all 0.3s ease;
			 				}
			 			}
			 			.svg-inst {
			 				transition: all 0.3s ease;

			 				&::before {
			 					content:'';
			 					position: absolute;
							    opacity: 1;
							    background: url('../images/inst.svg') 50% 50%  no-repeat;
							    width: 20px;
								height: 20px;
							    transition: all 0.3s ease;
			 				}

			 				&::after {
			 					content:'';
			 					position: absolute;
							    opacity: 0;
							    background: url("../images/inst-color.svg") 50% 50% no-repeat;
							    width: 20px;
								height: 20px;
							    transition: all 0.3s ease;
			 				}
			 			}
					span {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 34px;
						height: 34px;
						transition: all 0.3s ease;
						border-radius: 4px;
						i {
							width: 34px;
							height: 34px;
							z-index: 3;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}
			}
			.copyright {
				display: flex;
				flex-direction: column;
				span {
					font-size: 11px;
				}
			}
		}
	}
}

// .box-side--right {
// 	position: fixed;
// 	top: 0;
// 	right: 0;
// 	width: 31.2%;
// 	height: 100%;
// 	.side-wrap {
// 		height: 100%;
// 		.wrap-image {
// 			height: 100%;
// 		    background: url("../images/side-right.jpg") no-repeat;
// 	        background-position: 100% 0%;
//     		/* background-size: cover; */
// 		}
// 	}
// }
.box-center {
	max-width: 100%;
	width: 100%;
	padding: 0 45px;
}