.icon {
  display: inline-block;
  position: absolute;
  left: 0;
}
.icon-city {
  background-image: url('../images/header-sprite.png');
  background-position: 0px 0px;
  width: 26px;
  height: 26px;
  left: 0px;
}
.icon-chupa {
  background-image: url('../images/header-sprite.png');
  background-position: -26px 0px;
  width: 25px;
  height: 25px;
}
.icon-lupa {
  background-image: url('../images/header-sprite.png');
  background-position: 0px -26px;
  width: 25px;
  height: 25px;
}

.criteria-image {

  span {

    .icon-criteria {
      display: inline-block;
    }
    .icon-regest {
      background-image: url('../images/how-work-sprite.png');
      background-position: 0px -129px;
      width: 50px;
      height: 68px;
    }
    .icon-search {
      background-image: url('../images/how-work-sprite.png');
      background-position: 0px -65px;
      width: 64px;
      height: 64px;
    }
    .icon-percent {
      background-image: url('../images/how-work-sprite.png');
      background-position: 0px 0px;
      width: 65px;
      height: 65px;
    }
    .icon-save {
      background-image: url('../images/how-work-sprite.png');
      background-position: -131px 0px;
      width: 70px;
      height: 56px;
    }
    .icon-support {
      background-image: url('../images/how-work-sprite.png');
      background-position: -65px 0px;
      width: 66px;
      height: 64px;
    }
    .icon-people {
      background-image: url('../images/how-work-sprite.png');
      background-position: -131px -56px;
      width: 62px;
      height: 60px;
    }
  }
}

.orange {

    .icon-criteria {
      display: inline-block;
    }

    .icon-1-z {
    background-image: url('../images/orange-sprite.png');
    background-position: 0px 0px;
    width: 72px;
    height: 65px;
  }

  .icon-2-z {
    background-image: url('../images/orange-sprite.png');
    background-position: 0px -65px;
    width: 61px;
    height: 61px;
  }

  .icon-3-z {
    background-image: url('../images/orange-sprite.png');
    background-position: -72px 0px;
    width: 63px;
    height: 63px;
  }
}