.svg-faq {
	background: url("sprite.css-0660bfd5.svg") 100% 0 no-repeat;
}

.svg-faq-x {
	width: 20px;
	height: 20px;
}

.svg-list {
	background: url("sprite.css-0660bfd5.svg") 55.55555555555556% 0 no-repeat;
}

.svg-list-x {
	width: 18px;
	height: 23px;
}

.svg-top {
	background: url("sprite.css-0660bfd5.svg") 0 0 no-repeat;
}

.svg-top-x {
	width: 25px;
	height: 25px;
}

